.main-div {
  width: 50%;
  height: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
}
.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc {
  text-align: center;
}
